<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns = "http://www.w3.org/1999/html" lang = "ru">
<head>
  <meta charset = "UTF-8">
  <link rel = "stylesheet" type = "text/css" href = "../static/css/index.css"/>
  <link href="https://db.onlinewebfonts.com/c/38764ac6ef7cce3558484bb7e60b9af3?family=Bebas+Neue+Cyrillic" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/4c6ae0b5133c55f46cc12ae0f2d43941?family=Bebas+Neue+Regular" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/63105376024a2fbc44ff039a073cb853?family=Museo+Sans+Cyrl+W03+300" rel="stylesheet">
  <title>Главная страница</title>
</head>
<body>
<div>
  <blockquote><h1>Информационно-справочная система фитнес-клуба</h1></blockquote>
  
  <div class = "search">
      <form th:action = "@{/}">
        <input type = "text" name = "keyword" id = "keyword" size = "60" th:value = "${search_string}" placeholder="Поиск абонемента по ФИО..."/>
        <button type = "submit" class = "find"></button>
      </form>
  </div>
  
  <div class="area"></div><nav class="main-menu">
    <img src="https://www.svgrepo.com/show/532195/menu.svg"/>
    <ul>
        <li>
            <a href="/newMemberShip">
                <i class="fa"></i>
                <span class="nav-text">
                        Добавить запись
                </span>
            </a>
          
        </li>
        <li>
            <a th:href="@{'/edit'}">
                <i class="fa"></i>
                <span class="nav-text">
                    Редактировать запись
                </span>
            </a>
            
        </li>
        <li>
            <a href="/logout">
                <i class="fa"></i>
                <span class="nav-text">
                    Выход
                </span>
            </a>
        </li>
    </ul>
</nav>

</div>
  <table id="1">
    <thead>
    <tr>
      <th scope="col" onclick="location.href='/'" style="cursor: pointer">
        ID
      </th>
        <!--th:onclick="col_name='name'"-->
      <th scope="col" onclick="location.href='/?col_name=name'" style="cursor: pointer">
          ФИО
      </th>
      <th scope="col" onclick="location.href='/?col_name=phone'" style="cursor: pointer">
        Номер телефона
      </th>
      <th scope="col" onclick="location.href='/?col_name=mail'" style="cursor: pointer">
        Почта
      </th>
      <th scope="col" onclick="location.href='/?col_name=boughtDate'" style="cursor: pointer">
        Дата приобретения абонемента
      </th>
      <th scope="col" onclick="location.href='/?col_name=trainsLeft'" style="cursor: pointer">
        Количество оставшихся занятий
      </th>
      <th scope="col" onclick="location.href='/?col_name=option'"  style="cursor: pointer">
          Тариф
      </th>
      <th scope="col" onclick="location.href='/?col_name=cost'" style="cursor: pointer">
        Стоимость абонемента
      </th>
      <th scope="col" onclick="location.href='/?col_name=payed'" style="cursor: pointer">
        Внесенная сумма
      </th>
      <th scope="col" style="cursor: pointer">
        Действия
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="membership: ${membership_list}">
      <td scope="row" th:text="${membership.getId()}">Отстутствует</td>
      <td scope="row" th:text="${membership.getName()}">Отстутствует</td>
      <td scope="row" th:text="${membership.getPhone()}">Отстутствует</td>
      <td scope="row" th:text="${membership.getMail()}">Отстутствует</td>
      <td scope="row" th:text="${membership.getAbonimentBoughtDate()}">Отстутствует
      </td>
      <td scope="row" th:text="${membership.getTrainsLeft()}">Отстутствует</td>
      <td scope="row" th:text="${membership.getOption()}">Отсутствует</td>
      <td scope="row" th:text="${membership.getCost()}">Отсутствует</td>
      <td scope="row" th:text="${membership.getPayedSum()}">Отсутствует</td>
      <td>
        <a th:href="@{'/delete/'+${membership.getId()}}">
          <button type="button" class="btn">Удалить</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class = "counter">
    <p>
      <script type="text/javascript">
        function getRowsColumn() {
          let table = document.getElementById('1')
          let tBody = table.querySelector('tbody')
          const count = tBody.querySelectorAll('tr').length;
          document.write('Количество абонементов всего: ' + count)
        }

        getRowsColumn()
      </script>
    </p>
  </div>

<script type="text/javascript">
  function clearSearch() {
    window.location = "[[@{/}]]";
  }
</script>


<script>
  function sortTable(name) {
  }
</script>
</body>
</html>