<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление абонемента</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/add.css"/>
    <link href="https://db.onlinewebfonts.com/c/38764ac6ef7cce3558484bb7e60b9af3?family=Bebas+Neue+Cyrillic" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/4c6ae0b5133c55f46cc12ae0f2d43941?family=Bebas+Neue+Regular" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/63105376024a2fbc44ff039a073cb853?family=Museo+Sans+Cyrl+W03+300" rel="stylesheet">
</head>
<body>
    <div>
        <blockquote><h1>Добавление абонемента</h1></blockquote>
            <div class="row">
                <form action="#" th:action="@{/newMemberShip}" th:object="${new_membership}" method="post">
                    <table>
                        <!--tr>
                            <td>ID:</td>
                            <td><input class = "input-form" type="number" min="1" step="1" th:field="*{id}"></td>
                        </tr-->
                        <tr>
                            <td>ФИО:</td>
                            <td><input class = "input-form" type="text" th:field="*{name}" required></td>
                        </tr>
                        <tr>
                            <td>Телефон:</td>
                            <td><input class = "input-form" type="number" th:field="*{phone}" required></td>
                        </tr>
                        <tr>
                            <td>Почта:</td>
                            <td><input class = "input-form" type="text" th:field="*{mail}" required></td>
                        </tr>
                        <!--tr>
                            <td>Количество оставшихся занятий:</td>
                            <td><input class = "input-form" type="number" th:field="*{date_of_shipping}" required></td>
                        </tr-->
                        <tr>
                            <td>Тариф:</td>
                            <td><select class = "input-form" name="tarif" id="tarif" th:field="*{option}" required>
                                <option value="">-- Выберите тариф --</option>
                                <option value="STANDARD">Стандартный</option>
                                <option value="ADVANCED">Продвинутый</option>
                                <option value="VIP">ВИП</option>
                                </select>
                            </td>
                        </tr>
                        <!--tr>
                            <td>Стоимость абонемента:</td>
                            <td><input class = "input-form" type="number" th:field="*{date_of_arrival}" required></td>
                        </tr-->
                        <tr>
                           <td>Внесенная сумма:</td>
                            <td><input class = "input-form" type="number" th:field="*{payedSum}" required></td>
                        </tr>
                    </table>
                    <div class = "button">
                        <button type="submit" class="btn" data-tooggle="button" aria-pressed="false" autocomplete="off">Сохранить</button>
                    </div>
                </form>
       </div>
    </div>
</div>
</body>
</html>